<ion-view title="Eucaby" hide-back-button="true" class="gray">
    <ion-content padding="true">
        <div class="list list-inset gray">
            <div class="item item-image login-logo">
                <h1>Eucaby</h1>
            </div>
            <button class="button button-block button-positive" ng-click="facebookLogin()">
                <i class="icon ion-social-facebook"></i>
                <span class="login-text">Login with Facebook</span>
            </button>
        </div>
    </ion-content>
</ion-view>