<ion-view title="Notification">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button class="button-icon ion-chevron-left">
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content ng-controller="NotificationDetailCtrl">
    <div id="locmap"></div>
    <div class="card">
        <div class="item item-text-wrap">
            <div ng-switch on="isOutgoing">
                <div ng-switch-when="true">
                    Notification sent to <b>{{ item.data.recipient | userName }}</b><br>
                </div>
                <div ng-switch-when="false">
                    Notification received from <b>{{ item.data.sender | userName }}</b><br>
                </div>
            </div>
            {{ item.data.created_date | localize }}
        </div>
    </div>
    <div ng-show="item.data.request">
        <div class="card">
            <div class="item item-text-wrap">
                <div ng-switch on="isOutgoing">
                    <div ng-switch-when="true">
                        Request received from <b>{{ item.data.request.sender | userName }}</b><br>
                    </div>
                    <div ng-switch-when="false">
                        Request sent to <b>{{ item.data.request.recipient | userName }}</b><br>
                    </div>
                </div>
                {{ item.data.request.created_date | localize }}
            </div>
        </div>
    </div>
  </ion-content>
</ion-view>