<ion-view title="Location">
  <ion-content>
    <div id="locmap"></div>
    <div class="card" ng-cloak>
        <div class="item item-text-wrap">
            <i class="ion {{ icon }} icon-detail"></i>
            <div class="detail-time">{{ item.created_date | localize }}</div>
            <div ng-switch on="isOutgoing">
                <div ng-switch-when="true">
                    Location sent to <br>
                    <b>{{ item.recipient | userName }}</b>
                    <div ng-show="item.is_web" class="badge-web-detail">web</div><br>
                </div>
                <div ng-switch-when="false">
                    Location received from <br>
                    <b>{{ item.sender | userName }}</b>
                    <div ng-show="item.is_web" class="badge-web-detail">web</div><br>
                </div>
            </div>
        </div>
        <div class="item item-text-wrap" ng-show="item.message">
            {{ item.message }}
        </div>
    </div>
    <div ng-show="item.request">
        <div class="card" ng-cloak>
            <div class="item item-text-wrap">
                <div class="detail-time">{{ item.created_date | localize }}</div>
                <div ng-switch on="isOutgoing">
                    <div ng-switch-when="true">
                        Request received from <br>
                        <b>{{ item.request.sender | userName }}</b><br>
                    </div>
                    <div ng-switch-when="false">
                        Request sent to <br>
                        <b>{{ item.request.recipient | userName }}</b><br>
                    </div>
                </div>
            </div>
            <div class="item item-text-wrap" ng-show="item.request.message">
                {{ item.request.message }}
            </div>
        </div>
    </div>
  </ion-content>
</ion-view>