<ion-modal-view>
  <ion-header-bar>
      <button class="button back-button buttons button-icon
        ion-ios-arrow-left header-item" ng-click="requestModal.hide()">
      </button>
      <h1 class="title title-right-button">Where Are You?</h1>
      <button class="button buttons button-positive header-button"
          ng-click="$broadcast('sendRequest')">
          Send Request <i class="icon ion-android-send"></i>
      </button>
  </ion-header-bar>
  <ion-content>
    <ng-include src="'templates/form.html'"></ng-include>
  </ion-content>
</ion-modal-view>
