<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Where Are You?</h1>
    <div class="buttons">
      <button class="button button-small button-icon button-clear ion-ios-close-empty" ng-click="requestModal.hide()"></button>
    </div>
  </ion-header-bar>
  <ion-content ng-controller="RequestCtrl">
    <form ng-submit="sendRequest()">
        <div class="item item-divider">Enter email address</div>
        <label class="item item-input">
          <input type="text" placeholder="Email"
                 ng-model="form.email">
        </label>
        <div class="item item-divider">or select a friend</div>
        <div class="list">
            <ion-radio ng-repeat="friend in friends.data" ng-value="friend.username"
                    ng-model="form.username">
                {{ friend.name }}
            </ion-radio>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" type="submit">Send Request</button>
        </div>
    </form>
  </ion-content>
</ion-modal-view>
