<ion-view>
    <ion-content>
        <div id="map"></div>
    </ion-content>
    <ion-footer-bar class="row">
        <div class="button-bar">
            <a class="button button-icon ion-pinpoint col col-20" ng-click="centerOnMe()"></a>
            <a class="button button-balanced col col-33" ng-click="notifyModal.show()"><b>I am here</b></a>
            <a class="button button-positive col" ng-click="requestModal.show()"><b>Where are you?</b></a>
        </div>
    </ion-footer-bar>
</ion-view>
