<ion-view title="Incoming">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button class="button-icon ion-chevron-left">
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-icon-left item-icon-right item-container"
                ng-repeat="item in incoming"
                type="item-text-wrap" href="{{ item.url }}">
          <i ng-show="item.complete" class="icon ion-checkmark-circled"></i>
          <h2>{{ item.name }}</h2>
          <span>{{ item.description }}</span>
          <i ng-show="item.url" class="icon ion-chevron-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>