*.py[cod]
*.so
*.egg
*.egg-info
*.log
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__
pip-log.txtq
.coverage
.tox
nosetests.xml
*.mo
.project
.idea
static
eucaby/local*
eucabyrt/node_modules
mobile/platforms
mobile/plugins
mobile/node_modules
