*.py[cod]
*.so
*.egg
*.egg-info
*.log
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
^lib
^lib64
__pycache__
pip-log.txt
.coverage
.tox
nosetests.xml
*.mo
.project
.idea
static
private
eucaby/local*
eucaby_rt/node_modules
eucaby_mobile/platforms
eucaby_mobile/plugins
eucaby_mobile/node_modules
