<!DOCTYPE html>
<html lang="en" ng-app="eucaby">
    <head>
        <meta charset="utf-8">
        <title>Eucaby</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Geo Messenger">
        <meta name="author" content="Alex Dementsov">
        <link rel="shortcut icon" href="/media/favicon.ico">
        <link href="/media/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/media/css/jumbotron-narrow.css" rel="stylesheet">
        <link href="/media/css/main.css" rel="stylesheet">

        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% block header %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="header clearfix">
                <div class="col-xs-6 logo">
                    <a href="/" class="pull-left">
                        <img src="/media/img/logo.png" />
                        <h3 class="title">Eucaby</h3>
                    </a>
                </div>
                <nav class="col-xs-6">
                    <div class="top-menu pull-right">
                        <a href="/blog">Blog</a>
                        <a href="/forum">Forum</a>
                        <a href="/help">Help</a>
                    </div>
                </nav>
            </div>
            {% block content %}{% endblock %}

            <footer class="footer">
                <a href="/about">About Us</a>
                <a href="/terms">Terms of Service</a>
                <a href="/privacy">Privacy Policy</a>
                <a href="/feedback">Feedback</a>
                <span>&copy; 2015 Eucaby, Alex Dementsov</span>
                <!--| <a href="#">Facebook</a> | <a href="#">Twitter</a>-->
            </footer>
        </div>
    </body>
</html>