<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Eucaby</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <script src="/media/js/main.js"></script>
        <link href="/media/css/main.css" rel="stylesheet">

        {% block header %}{% endblock %}
    </head>
    <body data-spy="scroll" data-target=".subnav" data-offset="50">
        {% block content %}{% endblock %}
        {% block footer %}{% endblock %}
    </body>
</html>