{% extends  "base.html" %}

{% block content %}

<div class="jumbotron slim">
    <h1>I am here</h1>
    <p class="lead">
        <span class="brand-inline">Eucaby</span> is a simple Geo Messenger that helps you to request and
        share accurate and authenticated location messages with your
        friends.
    </p>
</div>

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item"
            src="https://www.youtube.com/embed/RmLVqqnRSj4"
            frameborder="0" allowfullscreen></iframe>
</div>
{% endblock %}