{% extends  "base_app.html" %}

{% block header %}
<script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
{% endblock %}
{% block content %}
<div ng-controller="LocationCtrl"
     ng-init="lat='{{ loc_notif.location.lat }}'; lng='{{ loc_notif.location.lon }}'; message='{{ loc_notif.message }}'">
    <div id="map"></div>
    <br>
    Location sent by {{loc_notif.sender_name}} at {{loc_notif.created_date}} <br>
    <div ng-show="'{{ loc_notif.message }}'">Message: {{ loc_notif.message }}</div>
</div>
{% endblock %}
