{% extends  "base.html" %}

{% block content %}

<h3>Privacy Policy</h3>
<br>
<h4>1. Sharing Data</h4>
We never share your data with anyone.
<br><br>
<h4>2. Storing Data</h4>
Eucaby only stores the data it needs to function properly.

<h5>Facebook Account</h5>
When you login with Facebook account we request only the basic information about
your profile and friends who use Eucaby application. The profile data that we
store is the first, last name and gender. If you have email address associated with the
Facebook we use it to only notify you about the new locations or requests.
You can opt out to receive the email notifications in Settings.
The list of friends is displayed in location and request forms. It is only
temporarily cached to improve the service. We do not use
your email address or list of friends for any other purposes.

<h5>Messages</h5>
When you send location or request messages the information about sender and recipient,
 geographic location and message text are stored and only visible to the sender and recipient with
Eucaby account. Recipients with email address only (no Eucaby account) can view
the location or request messages addressed to them via link which is valid for 1 day. If you send the
message to email address it will be temporarily stored to support autocomplete
feature. Eucaby distinguishes messages sent from mobile phone and a browser.
<br><br>
{% endblock %}