{% extends  "base_app.html" %}

{% block header %}
<script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
{% endblock %}
{% block content %}
<div ng-controller="RequestCtrl" ng-init="uuid='{{ loc_req.uuid }}'">
    <div id="map"></div>
    <br>
    Request sent by {{ loc_req.sender_name }} at {{ loc_req.created_date }} <br>
    <form novalidate>
        <input type="text" ng-model="message" placeholder="Optional message"><br>
        <input type="submit" ng-click="sendLocation()" value="Send Location">
    </form>
</div>
{% endblock %}
