
#map {
    width: 100%;
    height: 100%;
}
#locmap {
    width: 100%;
    height: 50%;
}
#notifymap {
    width: 100%;
    height: 30%;
}
.scroll {
    height: 100%;
}

input {
    -webkit-user-select: auto !important;
}

.gray {
    background: #F0F3F8; /* #f7f7f7 */
}

.login-logo {
    border:none;
    margin-top:50px;
    margin-bottom: 70px;
    background: #F0F3F8;
}

.login-text {
    margin-left: 20px;
}

.help {
    margin: 5px 5px 5px 17px;
    font-style: italic;
    color: #888;
}

.item-container .item-content {
    padding-top: 8px;
    padding-bottom: 8px;
}

.activity-detail {
    /*height: 30%;*/
}

.spinner svg {
  stroke: #bbb;
  fill: #999;
}

.loading-container .loading {
    padding: 15px;
}

.refresh-friends {
    float: right;
    font-size: 23px;
}

[ng-click] {
    cursor: pointer;
}